**/__pycache__
**/.pytest_cache
venv_flask_tavern
zipfile/venv
sklearn/venv
flatbuffers/venv
azure/venv
codestyle/venv
pillow/venv
beautifulsoup/venv
pydoc/venv
pytest/venv
avro/venv
sd_viewer/venv
list/venv
requests/venv
docopt/venv