**/__pycache__
avro/venv
codestyle/venv
docopt/venv
Azure/venv
flatbuffers/venv
pillow/venv
sd_viewer/venv
tavern/venv
tavern/data
tavern/save
tavern/.pytest_cache
pydoc/venv
pytest/venv
pytest/.pytest_cache
requests/venv
venv_flask_tavern