**/__pycache__
**/.pytest_cache
zipfile/venv
sklearn/venv
flatbuffers/venv
flask/venv
azure/venv
codestyle/venv
pillow/venv
tavern/venv
beautifulsoup/venv
pydoc/venv
pytest/venv
avro/venv
ping_meta_viewer/venv
list/venv
requests/venv
docopt/venv